In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
import pickle

In [19]:
df=pd.read_csv('C:\\Users\\jyoti\\project\\data.csv')

In [20]:
df.head()

,continent,State,Distance to road(m),Factory density,Factory,distance to neareset water source(km),Number of Water sources,Avg distance to water source(km),Distance to city(km),Distance to nearest dump site(km),Decision
0,India,Delhi,500,76,9,2,3,1.5,20,5,yes
1,India,punjab,400,76,6,40,6,4.0,60,4,yes
2,India,rajisthan,600,60,5,60,6,8.0,40,6,no
3,USA,Washington,400,80,6,43,8,6.0,40,2,yes
4,USA,Virginia,500,40,9,53,4,9.0,70,7,no

In [21]:
df.isnull().sum()

continent                                2
State                                    0
Distance to road(m)                      0
Factory density                          0
Factory                                  0
distance to neareset water source(km)    0
Number of Water sources                  0
Avg distance to water source(km)         0
Distance to city(km)                     0
Distance to nearest dump site(km)        0
Decision                                 1
dtype: int64

In [22]:
df=df.fillna(method='ffill',axis=0)

In [23]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [24]:
df.State=le.fit_transform(df.State)

In [25]:
df.head()

,continent,State,Distance to road(m),Factory density,Factory,distance to neareset water source(km),Number of Water sources,Avg distance to water source(km),Distance to city(km),Distance to nearest dump site(km),Decision
0,India,49,500,76,9,2,3,1.5,20,5,yes
1,India,205,400,76,6,40,6,4.0,60,4,yes
2,India,206,600,60,5,60,6,8.0,40,6,no
3,USA,188,400,80,6,43,8,6.0,40,2,yes
4,USA,186,500,40,9,53,4,9.0,70,7,no

In [26]:
# df.Decision=le.fit_transform(df.Decision)

In [27]:
df.tail()

,continent,State,Distance to road(m),Factory density,Factory,distance to neareset water source(km),Number of Water sources,Avg distance to water source(km),Distance to city(km),Distance to nearest dump site(km),Decision
229,finland,66,655,49,3,45,6,5.0,37,4,no
230,Kenya,113,366,25,4,25,4,6.0,92,8,no
231,Colombia,200,456,35,2,63,6,5.0,65,7,yes
232,brazil,207,653,78,45,69,9,5.0,35,9,yes
233,iteiy,204,659,46,36,95,8,5.0,94,6,yes

In [28]:
from sklearn.model_selection import train_test_split

In [29]:
X_train, X_test, y_train, y_test=train_test_split(df[['Distance to road(m)','Factory density','distance to neareset water source(km)',
                                                      'Number of Water sources','Avg distance to water source(km)',
                                                     'Distance to city(km)','Distance to nearest dump site(km)']],df.Decision,test_size=0.1)

In [30]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()

In [31]:
lr.fit(X_train,y_train)

C:\python\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

lr

In [32]:
lr.predict(X_test)

array(['no', 'no', 'no', 'no', 'no', 'yes', 'yes', 'yes', 'no', 'no',
       'no', 'yes', 'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'yes',
       'no', 'yes', 'no', 'no'], dtype=object)

In [33]:
pickle.dump(lr,open('model.pkl','wb'))